In [1]:
import sqlite3

def connect():
    conn=sqlite3.connect("books")
    cur=conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS book (id INTEGER SERIAL PRIMARY KEY,title text, author text, year INTEGER,ISBN INTEGER)")
    conn.commit()
    conn.close()
    
    
def insert(title,author,year,isbn):
    conn=sqlite3.connect("books")
    cur=conn.cursor()
    cur.execute("INSERT INTO book VALUES(NULL,?,?,?,?)",(title,author,year,isbn))
    conn.commit()
    conn.close()
    
    
def view():
    conn=sqlite3.connect("books")
    cur=conn.cursor()
    cur.execute("SELECT * FROM book")
    rows=cur.fetchall()
    conn.close()
    return rows


def search(title="",author="",year="",isbn=""):
    conn=sqlite3.connect("books")
    cur=conn.cursor()
    cur.execute("SELECT * FROM book WHERE title=? OR author=? OR year=? OR ISBN=?",(title,author,year,isbn))
    rows=cur.fetchall()
    conn.close()
    return rows



def delete(id):
    conn=sqlite3.connect("books")
    cur=conn.cursor()
    cur.execute("DELETE FROM book WHERE id=?",(id,))
    conn.commit()
    conn.close()

    
def update(id,title,author,year,isbn):
    conn=sqlite3.connect("books")
    cur=conn.cursor()
    cur.execute("UPDATE book SET title=?, author=? , year=? , ISBN=? WHERE id=?",(title,author,year,isbn,id))
    conn.commit()
    conn.close()
    
    
    
connect()
#insert("Sagar Kinaare", "Sagar K Bose", 2016,26111999)
#update(1,"The Sea","Johnny Baba",1878,999999)
#delete(10)
print(view())
#print(search(author="Mun Mun"))

[(1, 'The Sea', 'Johnny Baba', 1878, 999999), (2, 'Any Book', 'Jose Nattu', 1808, 533339), (3, 'Aakash', 'Aksh Baghla', 2008, 54331), (9, 'The Sun', 'Surya', 1980, 43215), (10, 'Sagar Kinaare', 'Sagar K Bose', 2016, 26111999)]